
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LayoutViewPage</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <nav class="navbar-inverse">
                <div style="color: #c3b6b6; font-size: 138%; padding: 15px; ">
                    Leading Point System
              </div>

            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
